@model Book_Addict.HomePage

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section css {
    <style>
        .owl-carousel .owl-stage {
            display: flex;
            align-items: center;
        }
    </style>
}
@section Scripts {
}

<div id="home" class="slider-container rev_slider_wrapper" style="height: 100vh;">
    <div id="revolutionSlider" class="slider rev_slider" data-version="5.4.8" data-plugin-revolution-slider data-plugin-options="{'sliderLayout': 'fullscreen', 'delay': 9000, 'gridwidth': 1140, 'gridheight': 800, 'responsiveLevels': [4096,1200,992,500], 'navigation' : {'arrows': { 'enable': false }}}">
        <ul>
            <li class="slide-overlay slide-overlay-level-8" data-transition="fade">
                <img src="img/demos/band/slides/slide-1.jpg"
                     alt=""
                     data-bgposition="center center"
                     data-bgfit="cover"
                     data-bgrepeat="no-repeat"
                     data-kenburns="on"
                     data-duration="9000"
                     data-ease="Linear.easeNone"
                     data-scalestart="115"
                     data-scaleend="100"
                     data-rotatestart="0"
                     data-rotateend="0"
                     data-offsetstart="0 -200"
                     data-offsetend="0 200"
                     data-bgparallax="0"
                     class="rev-slidebg">

                <h1 class="tp-caption"
                    data-frames='[{"delay":1000,"speed":1000,"frame":"0","from":"opacity:0;","to":"opacity:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;fb:0;","ease":"Power3.easeInOut"}]'
                    data-x="center"
                    data-y="center">
                    <span class="d-none">Porto HTML5 Template - Demo Band</span>
                    <svg class="custom-porto-svg-logo" viewBox="0 0 292 80" x="0px" y="0px" width="292px" height="85px">
                        <path d="M 48.3077 7.3505 C 43.4299 3.1552 36.1469 1.052 26.4362 1.052 L -0.1678 1.052 L -0.1678 77.6639 L 20.5403 77.6639 L 20.5403 51.888 L 26.3914 51.888 C 35.7218 51.888 42.9265 49.5722 48.0057 44.9405 C 53.0736 40.309 55.6132 33.753 55.6132 25.2505 C 55.6132 17.52 53.1743 11.5571 48.3077 7.3505 L 48.3077 7.3505 ZM 20.5403 17.52 L 25.9439 17.52 C 31.739 17.52 34.6366 20.0483 34.6366 25.0939 C 34.6366 28.0922 33.7081 30.4527 31.8509 32.1532 C 29.9938 33.8538 27.499 34.704 24.3553 34.704 L 20.5403 34.704 L 20.5403 17.52 L 20.5403 17.52 Z" stroke="#ffffff" stroke-width="1" fill="#ffffff" />
                        <path d="M 118.7302 5.7597 C 112.7719 1.6666 104.9938 -0.38 95.3959 -0.38 C 83.1791 -0.38 73.8712 2.9874 67.4719 9.6999 C 61.0615 16.4124 57.8618 26.1344 57.8618 38.8657 C 57.8618 51.7426 61.0726 61.5428 67.5166 68.2777 C 73.9607 75.0126 83.2128 78.38 95.2953 78.38 C 104.9252 78.38 112.7404 76.3068 118.7302 72.1598 L 118.7302 5.7597 ZM 95.3959 16.804 C 100.5421 16.804 104.4242 18.6276 107.0197 22.2523 C 109.6152 25.8771 110.913 31.4932 110.913 39.1007 C 110.913 46.6859 109.6264 52.2572 107.0757 55.8372 C 104.5137 59.4172 100.5869 61.196 95.2953 61.196 C 84.8796 61.196 79.6774 53.8346 79.6774 39.1007 C 79.6774 24.2437 84.9131 16.804 95.3959 16.804 Z" stroke="#ffffff" stroke-width="1" fill="#ffffff" />
                        <path d="M 149.3979 49.74 L 165.8884 77.6639 L 189.3821 77.6639 L 166.9735 44.247 C 175.6438 39.3915 179.9846 32.5336 179.9846 23.6731 C 179.9846 8.5924 169.5131 1.052 148.5925 1.052 L 123.3646 1.052 L 123.3646 77.6639 L 144.0728 77.6639 L 144.0728 49.74 L 149.3979 49.74 L 149.3979 49.74 ZM 144.0728 16.804 L 148.2344 16.804 C 155.4392 16.804 159.0527 19.3995 159.0527 24.5681 C 159.0527 30.8555 155.3721 33.988 148.0219 33.988 L 144.0728 33.988 L 144.0728 16.804 L 144.0728 16.804 Z" stroke="#ffffff" stroke-width="1" fill="#ffffff" />
                        <path d="M 212.3724 18.236 L 237.7653 16.625 L 227.6321 1.052 L 177.8002 1.052 L 186.7502 18.236 L 191.6643 18.236 L 191.6643 77.6639 L 212.3724 77.6639 L 212.3724 18.236 Z" stroke="#ffffff" stroke-width="1" fill="#ffffff" />
                        <path d="M 253.6318 16.804 C 258.7781 16.804 262.6603 18.6276 265.2556 22.2523 C 267.8513 25.8771 269.1489 31.4932 269.1489 39.1007 C 269.1489 46.6859 267.8624 52.2572 265.3115 55.8372 C 262.7496 59.4172 258.8229 61.196 253.5313 61.196 C 243.1157 61.196 237.9136 53.8346 237.9136 39.1007 C 237.9136 36.0745 238.1273 24.4059 238.5618 21.995 L 216.5537 23.785 C 216.2476 26.2813 216.0979 36.0817 216.0979 38.8657 C 216.0979 51.7426 219.3087 61.5428 225.7527 68.2777 C 232.1965 75.0126 241.4487 78.38 253.5313 78.38 C 265.7703 78.38 275.0784 75.0349 281.4327 68.3336 C 287.7874 61.6436 290.9646 51.8545 290.9646 38.9776 C 290.9646 26.0673 287.7985 16.2894 281.4888 9.6216 C 275.1677 2.9539 265.8821 -0.38 253.6318 -0.38 C 252.1803 -0.38 234.6597 -0.3318 233.2903 -0.2368 L 245.8203 17.2693 C 247.1204 16.9562 252.1108 16.804 253.6318 16.804 Z" stroke="#ffffff" stroke-width="1" fill="#ffffff" />
                    </svg>
                </h1>

            </li>
        </ul>
    </div>
</div>
@{
    HttpCookie cookie = UserService.CheckToken();
}
@if (cookie != null)
{
    if (Model.PopularBooks != null && Model.PopularBooks.Count != 0)
    {
        <div class="heading heading-border heading-middle-border heading-middle-border-center mt-4 text-decoration-none">
            <h3 class="font-weight-normal">Yükselen Kitaplar</h3>
        </div>
        <div class="owl-carousel owl-theme full-width" data-plugin-options="{'items': 8, 'loop': false, 'nav': true, 'dots': false}">
            @foreach (var book in Model.PopularBooks)
            {
                <div class="item link" data-href="Book/Detail/@book.ID">
                    <div class="custom-thumb-info-style-1 thumb-info thumb-info-no-borders thumb-info-lighten thumb-info-bottom-info thumb-info-bottom-info-dark thumb-info-bottom-info-show-more thumb-info-no-zoom thumb-info-hide-wrapper-bg cur-pointer">
                        <div class="thumb-info-wrapper overlay overlay-show overlay-op-5">
                            <img src="@book.CoverPicturePath" class="img-fluid" alt="">
                            <div class="thumb-info-title bg-transparent">
                                @Html.ActionLink(book.Name, "Detail", "Book", new { id = book.ID }, new { @class = "text-white text-decoration-none thumb-info-inner line-height-1 custom-font-size-1 custom-font-primary" })
                                @if (book.Authors != null)
                                {
                                    @Html.ActionLink(book.Authors[0].Fullname, "Detail", "Author", new { id = book.ID }, new { @class = "text-white text-decoration-none thumb-info-type opacity-7 text-transform-none line-height-1 text-2 custom-font-primary" })
                                }
                                @if (book.Description != null)
                                {
                                    <div class="thumb-info-show-more-content">
                                        <p class="text-1 line-height-9 my-3">
                                            @{
                                                string description = book.Description;
                                                string splitDescription = description.Substring(0, (description.Length > 50 ? 50 : description.Length));
                                                string sentence = splitDescription.Substring(0, (splitDescription.IndexOf(".") != -1 ? splitDescription.IndexOf(".") : 0));
                                            }
                                            @sentence
                                        </p>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    }
    if (Model.PopularAuthors != null && Model.PopularAuthors.Count != 0)
    {
        <div class="heading heading-border heading-middle-border heading-middle-border-center mt-4 text-decoration-none">
            <h3 class="font-weight-normal">EN ÇOK OKUNAN YAZARLAR</h3>
        </div>
        <div class="owl-carousel owl-theme full-width" data-plugin-options="{'items': 6, 'loop': false, 'nav': true, 'dots': false , 'autoHeight':false , 'autoHeightClass': 'owl-height'}">
            @foreach (var author in Model.PopularAuthors)
            {
                <a href="Author/Detail/@author.ID">
                    <div class="custom-thumb-info-style-1 thumb-info thumb-info-no-borders thumb-info-lighten thumb-info-bottom-info thumb-info-bottom-info-dark thumb-info-bottom-info-show-more thumb-info-no-zoom thumb-info-hide-wrapper-bg cur-pointer">
                        <div class="thumb-info-wrapper overlay overlay-show overlay-op-5">
                            <img src="@author.PicturePath" class="img-fluid" alt="">
                            <div class="thumb-info-title bg-transparent">
                                <div class="text-white text-decoration-none thumb-info-inner line-height-1 custom-font-size-1 custom-font-primary">@author.Fullname</div>
                            </div>
                        </div>
                    </div>
                </a>
            }
        </div>

    }
}