<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body class="p-0" style="background-color:#424242">
    <div class="navbar" style="background: url(../../Images/navbar.png) no-repeat center center; background-size: 100% 100%;height:40vh; align-items:center">
        <a class="navbar-brand" href="#">
            <img src="" width="30" height="30" alt="">
        </a>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
    </div>
    <!-- Footer -->
    <div style="background: url(../../Images/footer.png) no-repeat center center; background-size: 100% 100%;height:100vh; align-items:center"></div>
    @*<footer class="page-footer font-small blue pt-4" style="background: url(../../Images/footer.png) no-repeat center center; background-size: 100% 100%;height:100vh; align-items:center">


    </footer>*@
    <!-- Footer -->

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
