@model Book_Addict.User

<div class="header-nav-features-dropdown header-nav-features-dropdown-mobile-fixed header-nav-features-dropdown-force-right" id="headerTopUserDropdown">
    <div class="signin-form">
        <h5 class="text-uppercase mb-4 font-weight-bold text-3">Sign In</h5>
        @using (Ajax.BeginForm("Login",
                       "User",
                       new AjaxOptions
                       {
                           HttpMethod = "POST",
                           InsertionMode = InsertionMode.Replace,
                           UpdateTargetId = "result",
                           OnBegin = "validateForm"
                       }))
        {
            @Html.AntiForgeryToken()

            <div class="form-group">
                @Html.LabelFor(model => model.Username, htmlAttributes: new { @class = "control-label col-md-2" })
                @Html.EditorFor(model => model.Username, new { htmlAttributes = new { @required = "required", @class = "form-control form-control-lg" } })
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-2" })
                @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @required = "required", type = "password", @class = "form-control form-control-lg" } })
            </div>
            <div class="actions">
                <div class="form-row">
                    <div class="col d-flex justify-content-end">
                        <input type="submit" value="Giriş" class="btn btn-primary" />
                    </div>
                </div>
            </div>
            <div class="extra-actions">
                <p>Siz hala üye değil misiniz? <a href="#" id="headerSignUp" class="text-uppercase text-1 font-weight-bold text-color-dark">Kayıt Ol</a></p>
            </div>
        }
    </div>

    <div class="signup-form">
        <h5 class="text-uppercase mb-4 font-weight-bold text-3">Sign Up</h5>
        @using (Ajax.BeginForm("Register",
                       "User",
                       new AjaxOptions
                       {
                           HttpMethod = "POST",
                           InsertionMode = InsertionMode.Replace,
                           UpdateTargetId = "result",
                           OnBegin = "validateForm"
                       }))
        {
            @Html.AntiForgeryToken()

            <div class="form-group">
                @Html.LabelFor(model => model.Username, htmlAttributes: new { @class = "mb-1 text-2 opacity-8" })
                @Html.EditorFor(model => model.Username, new { htmlAttributes = new { @required = "required", @class = "form-control form-control-lg" } })
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "mb-1 text-2 opacity-8" })
                @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @required = "required", @class = "form-control form-control-lg" } })
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Fullname, htmlAttributes: new { @class = "mb-1 text-2 opacity-8" })
                @Html.EditorFor(model => model.Fullname, new { htmlAttributes = new { @required = "required", @class = "form-control form-control-lg" } })
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Mail, htmlAttributes: new { @class = "mb-1 text-2 opacity-8" })
                @Html.EditorFor(model => model.Mail, new { htmlAttributes = new { @required = "required", type = "email", @class = "form-control form-control-lg" } })
            </div>
            <div class="actions">
                <div class="form-row">
                    <div class="col d-flex justify-content-end">
                        <input type="submit" value="Kayıt Ol" class="btn btn-primary" />
                    </div>
                </div>
            </div>
            <div class="extra-actions">
                <p>Üye misiniz? <a href="#" id="headerSignIn" class="text-uppercase text-1 font-weight-bold text-color-dark">Giriş Yap</a></p>
            </div>
        }
    </div>
</div>
